<launch>
  <arg name="server" default="192.168.50.142"/>
  <arg name="port" default="3883"/>
  <arg name="drone_name" default="gh034_15inch"/>

  <arg name="frame_id" default="world"/>
  <arg name="update_freq" default="100.0"/>
  <arg name="refresh_freq" default="1.0"/>
  <arg name="use_server_time" default="false"/>
  <arg name="broadcast_tf" default="true"/>
  <arg name="sensor_data_qos_best_effort" default="true"/>

  <node pkg="vrpn_mocap" exec="client_node" name="vrpn_mocap_client_node" namespace="vrpn_mocap" output="screen">
    <param name="server" value="$(var server)"/>
    <param name="port" value="$(var port)"/>
    <param name="frame_id" value="$(var frame_id)"/>
    <param name="update_freq" value="$(var update_freq)"/>
    <param name="refresh_freq" value="$(var refresh_freq)"/>
    <param name="use_vrpn_timestamps" value="$(var use_server_time)"/>
    <param name="broadcast_tf" value="$(var broadcast_tf)"/>
    <param name="sensor_data_qos" value="$(var sensor_data_qos_best_effort)"/>

    <remap from="/vrpn_mocap/$(var drone_name)/pose"  to="/uav0/mavros/vision_pose/pose"/>
    <remap from="/vrpn_mocap/$(var drone_name)/twist" to="/uav0/mavros/vision_speed/speed_vector"/>
  </node>
</launch>
